.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.imagem{
    
    width: 100%;
    object-fit: cover;
    min-height: 1;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 35vh;
}

