.header{
    background-color: rgb(179, 25, 14);
    width: 100vw;
    height: 11vh;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}



.imagem{
    width: '100%';
    height: auto;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navegacao{
    height: 100%;
    width: 40%;
}

.text{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: larger;
}

.titulo{
    display:  flex;
    flex-direction: row;
    align-items: center;
}
